
pre, code, .code {
    background: $code-bg;
    border: 1px solid darken($code-bg, 15%);
    color: $code-text;
    font-family: $code-font-family;
    @include font-size($code-font-size);
    @include line-height($code-font-size);
    font-weight: $code-font-weight;
    padding: $code-padding-y $code-padding-x;

    .element, &.element { color: $code-element }
    .attribute, &.attribute { color: $code-attribute }
    .value, &.value { color: $code-value }
    .comment, &.comment { color: $code-comment }
}



