
// Content container
.container { 
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: $container-width; 
}


// Default Column sizes
.col {
    float: left;
}
.col-right {
    float: right;
}
@for $i from 1 through $grid-columns {
    .col-#{$i} {
        width: ($i/$grid-columns * 100%);
    }
}


// Controls for resizing at various breakpoints
// Mechanism and increments are the same
// Mobile first, so use these from small to large
@media (min-width: #{$breakpoint-sm}) {
    .sm-col {
        float: left;
    }
    .sm-col-right {
        float: right;
    }
    @for $i from 1 through $grid-columns {
        .sm-col-#{$i} {
            width: ($i/$grid-columns * 100%);
        }
    }
}

@media (min-width: #{$breakpoint-md}) {
    .md-col {
        float: left;
    }
    .md-col-right {
        float: right;
    }
    @for $i from 1 through $grid-columns {
        .md-col-#{$i} {
            width: ($i/$grid-columns * 100%);
        }
    }
}

@media (min-width: #{$breakpoint-lg}) {
    .lg-col {
        float: left;
    }
    .lg-col-right {
        float: right;
    }
    @for $i from 1 through $grid-columns {
        .lg-col-#{$i} {
            width: ($i/$grid-columns * 100%);
        }
    }
}
