
table {
    border-collapse: separate;
    border-spacing: 0;
    max-width: 100%;
}

th, td {
    padding: $table-cell-padding;
    line-height: inherit;
    text-align: left;
}

th {
    border-bottom: ($border-width * 2) $border-style $table-border-color;
    font-weight: $table-th-weight;
    vertical-align: bottom;
}

td {
    border-bottom: $border-width $border-style $table-border-color;
    vertical-align: top;
}

tr:last-child td {
    border-bottom: none;
}
