# Enable Rewrite Engine
RewriteEngine on

# Disallow direct folder browsing
Options -Indexes

# Rewrite base path
RewriteBase /zachsaffrin/

# Rewrite rules
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.+)$ index.html [QSA,L]
