
<div class="clear container">
    <div class="h2 caps strong">About</div>
</div>

<div class="clear container p1">
    <div class="clear my2">
        <h3>Me</h3>
        <p>My name is <span class="strong apple">Zach Saffrin</span> and I simply enjoy working with web technology. 
            I&apos;m an independent developer and designer and I mostly just do this because I enjoy it. 
            I like exploring the balance of art and function in a meaningful user experience and 
            I appreciate the challenge of learning new things. I build because I can.</p>
        <a href="mailto:zach@zachsaffrin.com" class="btn bg-apple">
            <i class="fa fa-fw fa-envelope"></i>
        </a>
        <a href="https://twitter.com/ZachSaffrin" target="_blank" class="btn bg-milkcap">
            <i class="fa fa-fw fa-twitter"></i>
        </a>
        <a href="https://github.com/zsaffrin" target="_blank" class="btn bg-black hover-bg-dark-5">
            <i class="fa fa-fw fa-github-alt"></i>
        </a>
    </div>
    <div class="clear my3">
        <h3>This Site / Colophon</h3>
        <div class="clear p1">
            <div class="clear py2">
                <div class="sm-col sm-col-4 apple strong">Design and Development</div>
                <div class="sm-col sm-col-8">
                    <span class="bold">Zach Saffrin</span>&nbsp;
                    <span class="pestle size-sm">(obviously)</span>
                </div>
            </div>
            <div class="clear py2">
                <div class="sm-col sm-col-4 apple strong">Architecture</div>
                <div class="sm-col sm-col-8" style="font-size: 90%">
                    This site is structured as an Angular app on <a href="https://nodejs.org/" target="_blank">Node.js</a><br>
                    CSS is written in Sass (SCSS) and compiled with <a href="http://gulpjs.com/" target="_blank">Gulp</a><br>
                    Source is up on <a href="https://github.com/zsaffrin/zachsaffrin.com" target="_blank">Github</a> if you're interested
                </div>
            </div>
            <div class="clear py2">
                <div class="sm-col sm-col-4 apple strong">Framework</div>
                <div class="sm-col sm-col-8">
                    <span class="bold mr2">OverEasy</span>
                    <span class="pestle size-sm">An OOCSS framework of my own design</span><br/>
                    <a href="http://overeasycss.com" target="_blank" class="strawberry size-sm">http://overeasycss.com</a>
                </div>
            </div>
            <div class="clear py2">
                <div class="sm-col sm-col-4 apple strong">Hosting</div>
                <div class="sm-col sm-col-8">
                    <span class="bold">Dreamhost</span>&nbsp; 
                    <a href="http://dreamhost.com/" target="_blank" class="ml1 size-sm">http://dreamhost.com/</a>
                </div>
            </div>
            <div class="clear py2">
                <div class="sm-col sm-col-4 apple strong">Fonts</div>
                <div class="sm-col sm-col-8"></div>
            </div>
        </div>
    </div>
</div>
