
<div class="clear container">
    <div class="clear mb4">
        <div class="bold">Hi, I&apos;m</div>
        <div class="h1 caps strong">Zach</div>
        <div>I make websites and stuff. Because I like to.</div>
    </div>

    <div class="clear my4">
        <h4 class="caps">Projects</h4>
        <div class="clear p1 flex flex-wrap">
            <div class="m1 p2">
                <a href="http://overeasycss.com" target="_blank" class="nostyle h4 toast hover-gouda">OverEasy</a>
                <div class="size-sm">A deliciously lightweight responsive OOCSS framework</div>
            </div>
        </div>
    </div>
</div>


