@import '../fonts/Lato';
@import '../fonts/Raleway';

$base-text-color: #2a3442;

:root {
	color: $base-text-color;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.light { font-weight: 300; }
.bold { font-weight: 700; }
.strong { font-weight: 900; }

.size-huge { font-size: 4rem; }
