
.Home .hero {
    display: flex;
    flex-direction: column;
    height: 10em;
}

.Home .hero .subtitle {
    font-size: 1.25rem;
    flex: 1 1 auto;
}

.Home .hero .subtitle.top {
    display: flex;
}

.Home .hero .subtitle.top .content {
    align-self: flex-end;
}

.Home .hero .title {
    font-family: 'Raleway';
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.15;
    margin: 0;
    text-transform: uppercase;
}

.Home section {
    padding: var(--space5);
}
